$color-default-white: #fff;
$color-background-main: #131316;
$color-background-header: #1c1c21;

$color-orders-done: #00ced1;

$color-status-done: #4eb4b3;
$color-status-cancelled: #ca2f2f;

$color-link-main: #f2f2f3;
$color-link-visited: #8585ad;

$color-sidebar-main: #2f2f37;
$color-sidebar-thumb: #545aa7;

$color-modal-background: #1c1c21;

$color-loader-main: #f2f2f3;

$card-max-width: 250px;
$card-middle-width: 180px;
$card-small-width: 120px;

$height-page-default: 75vh;

$split-50-percent: 50%;
