$color-default-white: #fff;
$color-background-main: #131316;
$color-background-header: #1C1C21;

$color-orders-done: #00CED1;

$color-status-done: #4EB4B3;
$color-status-cancelled: #CA2F2F;

$color-link-main: #F2F2F3;
$color-link-visited: #8585AD;

$color-sidebar-main: #2f2f37;
$color-sidebar-thumb: #545AA7;

$card-max-width: 250px;

$split-50-percent: 50%;