@use '../../../styles/scss/abstracts/mixins' as *;
@use '../../../styles/scss/abstracts/variables' as *;

.ordersAllTime {
  padding: 20px 50px 20px;

  &Number {
    @include textShadow;
    @media (max-width: $medium_screen_size) {
      font-size: 72px;
    }
  }
}

.ordersToday {
  padding: 50px;

  &Number {
    @include textShadow;
    @media (max-width: $medium_screen_size) {
      font-size: 72px;
    }
  }
}
