@use '../../styles/scss/abstracts/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
}

.icon > svg {
  height: 100px;
  width: 100px;
}

.order {
  @include textShadow;
}
