@use '../../../styles/scss/abstracts/mixins' as *;
@use '../../../styles/scss/abstracts/variables' as *;

@include linkDefault;

.nav {
  &_element {
    display: flex;
    align-items: center;
    background: $color-background-header;
  }
}

.pushRight {
  margin-left: auto;
}

.activeLink {
  text-decoration: none;
  color: $color-default-white;

  &:visited {
    text-decoration: none;
    color: $color-default-white;
  }
}
