@use '../../styles/scss/abstracts/mixins' as *;
@use '../../styles/scss/abstracts/variables' as *;

.main {
  @include centerItem;
  display: flex;

  @media (max-width: $small_screen_size) {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    // background-color: red;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 60px;

  @media (max-width: $small_screen_size) {
    align-items: center;
    margin: auto;
  }
}

.navChild {
  text-decoration: none;
  margin: 16px 0;
  color: $color-link-main;

  &:visited {
    color: $color-link-visited;
  }
}

.navParagraph {
  margin-top: 48px;
  padding-right: 60px;

  // hot-fix
  &Small {
    position: absolute;
    transform: translate(0, 350px);
    text-align: center;
    @media (max-width: $small_screen_size) {
      position: relative;
      transform: translate(0, 0);
    }
  }
  @media (max-width: $small_screen_size) {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.activeLink {
  color: $color-link-main;

  &:visited {
    color: $color-link-main;
  }
}

.form {
  margin-top: 24px;
  margin-bottom: 80px;

  @media (max-width: $small_screen_size) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.formChild {
  margin-top: 24px;
}
