@use '../../styles/scss/abstracts/variables' as *;

.main {
  max-width: 80vw;
  display: flex;
  margin: 0 auto;
  background-color: $color-background-main;
  justify-content: center;

  @media (max-width: $desktop_screen_size) {
    max-width: 100vw;
  }

  @media (max-width: $small_screen_size) and (min-width: $mobile_screen_size) {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }

  @media (max-width: $mobile_screen_size) {
    display: block;
    max-width: 100%;
    margin: auto;
  }
}
