@use '../../styles/scss/abstracts/mixins' as *;
@use '../../styles/scss/abstracts/variables' as *;

.main {
  display: flex;
}

.left {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.right {
  display: flex;
  width: 50%;
}

.orders {
  height: 90vh;
  overflow-y: overlay;
  overflow-x: hidden;

  margin-top: 40px;

  @include sidebar;
}

.feedHeading {
  align-self: center;
}

.stats {
  display: flex;
  flex-direction: column;

  margin: 40px 30px 0 0;
}

.ordersStats {
  display: flex;

  margin-bottom: 20px;
}

.ordersReady {
  padding: 50px;
  margin-right: 100px;
}

.ordersPrep {
  padding: 50px;
}

.ordersAllTime {
  padding: 20px 50px 20px;
}

.ordersAllTimeNumber {
  @include textShadow;
}

.ordersToday {
  padding: 50px;
}

.ordersTodayNumber {
  @include textShadow;
}

.ordersDone {
  color: $color-orders-done;
}

.wrapper {
  display: flex;
  /* columns: 2 auto; */
}
