@use '../../styles/scss/abstracts/mixins' as *;
@use '../../styles/scss/abstracts/variables' as *;

.main {
  display: flex;

  @media (max-width: $medium_screen_size) {
    justify-content: center;
  }
  @media (max-width: $mobile_screen_size) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;

  @media (max-width: $medium_screen_size) {
    width: 100%;
  }
}

.right {
  display: flex;
  width: 50%;
}

.orders {
  height: 90vh;
  overflow-y: overlay;
  overflow-x: hidden;

  margin-top: 40px;

  @include sidebar;
}

.feedHeading {
  align-self: flex-end;
  margin-right: 300px;

  @media (max-width: $small_screen_size) {
    // margin-right: 100px;
    align-self: center;
    margin-right: 0;
  }
  @media (max-width: $mobile_screen_size) {
    align-self: center;
    margin-right: 0;
  }
}

.stats {
  display: flex;
  flex-direction: column;

  margin: 40px 30px 0 0;

  @media (max-width: $medium_screen_size) {
    margin: 40px 0;
  }
}

.ordersStats {
  display: flex;

  margin-bottom: 20px;

  & > div > p {
    @media (max-width: $medium_screen_size) {
      font-size: 22px;
    }
    @media (max-width: $mobile_screen_size) {
      font-size: 24px;
    }
  }
  & > div > div > div > p {
    @media (max-width: $medium_screen_size) {
      font-size: 22px;
    }
    @media (max-width: $mobile_screen_size) {
      font-size: 24px;
    }
  }

  @media (max-width: $small_screen_size) {
    flex-direction: column;
  }

  @media (max-width: $mobile_screen_size) {
    flex-direction: row;
  }
}

.ordersDone {
  color: $color-orders-done;
}
