@use "../../styles/scss/abstracts/mixins" as *;

.modal {
  @include centerItem;
  @include modalShadow;
  min-height: 300px;
  width: 720px;
  max-width: 100%;

  padding: 50px 0;

  background-color: #1C1C21;

  border: 1px solid var(--border-color);
  border-radius: 40px;
  z-index: 999;
}
  
.modalCloseIcon {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 24px;
}
  