.main {
    composes: main from '../register/register.module.scss';
}

.form {
    composes: form from '../register/register.module.scss';
}

.formChild {
    composes: formChild from '../register/register.module.scss';
}