.ingredientsTypeBar { 
    display: flex;
    justify-content: space-evenly; 
}
.ingredients {
    overflow-y: scroll;
    height: 60vh;
    text-align: center;
}
.ingredients::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
  }
.ingredients::-webkit-scrollbar-thumb {
    background-color: #545AA7;
  }

.ingredientsTab {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1400px) { 
  .ingredientsTypeBar {
    flex-direction: column;
  }
}