@import '../../styles/mixins.scss';

.main {
  min-width: 50%;
}

.ingredientsTypeBar { 
    display: flex;
    justify-content: space-evenly; 
}

.ingredientsTabs {
    overflow-y: scroll;
    height: 60vh;
    text-align: center;

    @include sidebar;
    
    &Element {
      display: flex;
      flex-wrap: wrap;
    }
}


@media (max-width: 1400px) { 
  .ingredientsTypeBar {
    flex-direction: column;
  }
}