@use '../../styles/scss/abstracts/mixins' as *;

.main {
  min-width: 50%;
}

.ingredientsTypeBar {
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 1400px) {
    flex-direction: column;
  }
}

.ingredientsTabs {
  overflow-y: scroll;
  height: 60vh;
  text-align: center;

  @include sidebar;

  &Element {
    display: flex;
    flex-wrap: wrap;
  }
}
