.header{
    justify-content: center;
    background: #1C1C21;
    text-align: center;

    position: relative;
}

.nav {
    display: flex;
    align-items: center;

    max-width: 70vw;
    margin: 0 auto;
}

.nav_element {
    display: flex;
    align-items: center;

    background: #1C1C21;
    border-radius: 40%;
}

.nav_element_left {
    display: flex;
}

.nav_element_right {
    margin-left: auto;
}
  
.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link {
    text-decoration: none;
}
.link:visited {
    color: #8585AD;
}

.activeLink {
    text-decoration: none;
    color: #fff;
}
.activeLink:visited {
    text-decoration: none;
    color: #fff;
}

.burger {
    color: red;
}