.header{
    justify-content: center;

    background: #1C1C21;
}


.nav {
    display: flex;
    align-items: center;

    max-width: 75vw;
    margin: 0 auto;
}

.nav_element {
display: flex;
align-items: center;

background: #1C1C21;
border-radius: 40%;
}

.nav_element_left {
    display: flex;
    }

        
.push_right {
    margin-left: auto;
    }
    
.center {
        margin: auto;
        }