@use '../../styles/scss/abstracts/mixins' as *;
@use '../../styles/scss/abstracts/variables' as *;

@include linkDefault;

.header {
  justify-content: center;
  background: $color-background-header;
  text-align: center;

  position: relative;
}

.nav {
  display: flex;
  align-items: center;

  max-width: 75vw;
  margin: 0 auto;

  @media (max-width: 1424px) {
    max-width: 100vw;
  }

  &_element {
    display: flex;
    align-items: center;
    background: $color-background-header;

    &_left {
      display: flex;
    }

    &_right {
      margin-left: auto;
    }
  }
}

.center {
  @include centerItem;
}

.activeLink {
  text-decoration: none;
  color: $color-default-white;

  &:visited {
    text-decoration: none;
    color: $color-default-white;
  }
}
